---
import { getYearsFromBetweenDate } from '@/components/Experience.astro';
import PhoneIcon from '@/components/icons/cv/Phone.astro';
import { getI18N } from '@/langs';
import BlankLayout from '@/layouts/BlankLayout.astro';
import Name from '../cv/Name.astro';
import Photo from '../cv/Photo.astro';
import MapIcon from '../icons/cv/Map.astro';
import GlobeViewIcon from '../icons/GlobeView.astro';
import MailIcon from '../icons/Mail.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const SOFT_SKILLS = i18n.SOFT_SKILLS_ITEMS;
const HARD_SKILLS = i18n.HARD_SKILLS_ITEMS;
const SKILLS = i18n.SKILLS_ITEMS;

const { apply } = Astro.props;

const EXPERIENCE = [
    {
        date:
            i18n.DECEMBER.toLocaleLowerCase() +
            ' 2022 - ' +
            i18n.NOW.toLocaleLowerCase(),
        time: getYearsFromBetweenDate(new Date(), new Date('2022-12-07')),
        title: 'IT Supervisor',
        company: 'Truespect S.A de C.V',
        description: [i18n.MY_JOB_SECOND_DO, i18n.MY_JOB_SECOND_I_WAS],
        tasks: i18n.MY_JOB_SECOND_TASKS,
    },
    {
        date:
            i18n.JUNE.toLocaleLowerCase() +
            ' 2019 - ' +
            i18n.NOVEMBER.toLocaleLowerCase() +
            ' 2022',
        time: getYearsFromBetweenDate(
            new Date('2022-11-10'),
            new Date('2019-06-01')
        ),
        title: 'Telecom Engineer',
        company: 'Solticom S.A de C.V',
        description: [i18n.MY_JOB_ONE_DO, i18n.MY_JOB_ONE_I_WAS],
        tasks: i18n.MY_JOB_ONE_TASKS,
    },
];
---

<BlankLayout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
    <main class="flex flex-col gap-x-4 p-4">
        <div class="mb-4 flex justify-between px-6">
            <div class="flex flex-col justify-center text-neutral-700">
                <h1 class="text-2xl font-black">
                    <Name />
                </h1>
                <h2 class="text-xl font-normal">
                    {apply === 'dev' ? i18n.DEV_TITLE : i18n.NET_TITLE}
                </h2>
                <div class="pt-2 text-sm">
                    <h3 class="flex items-center gap-x-2">
                        <PhoneIcon class="size-5" />
                        <a
                            href="tel:+529381035106"
                            class="font-bold text-neutral-900"
                            >+(52) 9381035106</a
                        >
                    </h3>
                    <h3 class="flex items-center gap-x-2">
                        <MailIcon class="size-5" />
                        <a
                            href="mailto:blackblex@gmail.com"
                            class="font-bold text-neutral-900"
                            >blackblex@gmail.com</a
                        >
                    </h3>
                    <h3 class="flex items-center gap-x-2">
                        <GlobeViewIcon class="size-5" />
                        <a
                            href="https://blackblex.netlify.app"
                            class="font-bold text-neutral-900"
                            >https://blackblex.netlify.app</a
                        >
                    </h3>
                    <h3 class="flex items-center gap-x-2">
                        <MapIcon class="size-5" />
                        Ciudad del Carmen, Campeche ({
                            i18n.AVAILABILITY_CHANGE_RESIDENCE
                        })
                    </h3>
                </div>
            </div>
            <Photo class="size-36 ring-2 ring-slate-200 ring-offset-4" />
        </div>
        <div class="flex justify-between text-sm">
            <div class="flex w-[55%] flex-col px-2 pb-3 pt-2">
                <h2
                    class="mb-4 border-b-4 border-black pb-2 text-center text-2xl font-bold"
                >
                    {i18n.WORK_EXPERIENCE}
                </h2>
                <div class="flex flex-col justify-center gap-y-4 text-sm">
                    {
                        EXPERIENCE.map((experience) => (
                            <div class="rounded-lg px-2">
                                <h3 class="flex items-center justify-between">
                                    <span class="text-lg font-extrabold">
                                        {experience.title}
                                    </span>
                                    <span class="text-base">
                                        {experience.date}
                                    </span>
                                </h3>
                                <h3 class="mb-2 flex items-center justify-between">
                                    <span class="text-base font-semibold">
                                        {experience.company}
                                    </span>
                                    <span class="text-base">
                                        +{experience.time}
                                        {i18n.YEARS.toLocaleLowerCase()}
                                    </span>
                                </h3>
                                <ul class="list-inside">
                                    {apply === 'dev'
                                        ? experience.description.map(
                                              (line: string | object) =>
                                                  typeof line == 'string' ? (
                                                      <li class="flex items-center tracking-wide">
                                                          <svg
                                                              class="me-2 mt-0.5 size-4 flex-shrink-0 self-start"
                                                              aria-hidden="true"
                                                              xmlns="http://www.w3.org/2000/svg"
                                                              fill="currentColor"
                                                              viewBox="0 0 20 20"
                                                          >
                                                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                                          </svg>
                                                          {line}
                                                      </li>
                                                  ) : (
                                                      <li>
                                                          <div class="flex items-center tracking-wide">
                                                              <svg
                                                                  class="me-2 mt-0.5 size-4 flex-shrink-0 self-start"
                                                                  aria-hidden="true"
                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                  fill="currentColor"
                                                                  viewBox="0 0 20 20"
                                                              >
                                                                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                                              </svg>
                                                              {line.text}
                                                          </div>
                                                          <ul class="ms-9 list-inside list-disc">
                                                              {line.items.map(
                                                                  (item) => (
                                                                      <li>
                                                                          {item}
                                                                      </li>
                                                                  )
                                                              )}
                                                          </ul>
                                                      </li>
                                                  )
                                          )
                                        : experience.tasks.map(
                                              (line: string) => (
                                                  <li class="flex items-center tracking-wide">
                                                      <svg
                                                          class="me-2 mt-0.5 size-4 flex-shrink-0 self-start"
                                                          aria-hidden="true"
                                                          xmlns="http://www.w3.org/2000/svg"
                                                          fill="currentColor"
                                                          viewBox="0 0 20 20"
                                                      >
                                                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                                      </svg>
                                                      {line}
                                                  </li>
                                              )
                                          )}
                                </ul>
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="w-[45%]">
                <div class="flex w-full flex-col px-2 pb-3 pt-2">
                    <h2
                        class="mb-4 border-b-4 border-black pb-2 text-center text-2xl font-bold"
                    >
                        {i18n.HARD_SKILLS}
                    </h2>
                    <ul
                        class="flex list-inside list-disc flex-wrap gap-x-4 gap-y-2 ps-2"
                    >
                        {
                            HARD_SKILLS.map((skill) => (
                                <li>
                                    <span class="relative -left-2">
                                        {skill}
                                    </span>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <div class="flex w-full flex-col px-2 pb-3 pt-2">
                    <h2
                        class="mb-4 border-b-4 border-black pb-2 text-center text-2xl font-bold"
                    >
                        {i18n.SOFT_SKILLS}
                    </h2>
                    <ul
                        class="flex list-inside list-disc flex-wrap gap-x-4 gap-y-2 ps-2"
                    >
                        {
                            SOFT_SKILLS.map((skill) => (
                                <li>
                                    <span class="relative -left-2">
                                        {skill}
                                    </span>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <div class="flex w-full flex-col px-2 pb-3 pt-2">
                    <h2
                        class="mb-4 border-b-4 border-black pb-2 text-center text-2xl font-bold"
                    >
                        {i18n.TECH_SKILLS}
                    </h2>
                    <ul
                        class="flex list-inside list-disc flex-wrap gap-x-4 gap-y-2 ps-2"
                    >
                        {
                            SKILLS.map((skill) => (
                                <li>
                                    <span class="relative -left-2">
                                        {skill}
                                    </span>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex w-full flex-col px-2 pb-3 pt-1">
            <h2
                class="mb-4 border-b-4 border-black pb-2 text-center text-2xl font-bold"
            >
                {i18n.VOCATIONAL_TRAINING}
            </h2>
            <div class="flex flex-col justify-center gap-2 text-sm">
                <p>
                    Universidad Autónoma del Carmen, Ciudad del Carmen, Campeche
                </p>
                <span>{i18n.DEGREE}: {i18n.MYSELF_TITLE}</span>
            </div>
        </div>
    </main>
</BlankLayout>
