---
import AboutMeSection from '@/components/sections/AboutMe.astro';
import ExperienceSection from '@/components/sections/ExperienceSection.astro';
import SkillSection from '@/components/sections/SkillSection.astro';
import ProjectSection from '@/components/sections/ProjectSection.astro';
import { getI18N } from '@/langs';
import Layout from '@/layouts/Layout.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
    <main class="px-4">
        <AboutMeSection />
        <SkillSection />
        <ExperienceSection />
        <ProjectSection />
    </main>
</Layout>
