---
import { getI18N } from '../../langs';
import Badge from '../Badge.astro';
import Section from '../containers/Section.astro';
import Name from '../cv/Name.astro';
import Photo from '../cv/Photo.astro';
import DocumentIcon from '../icons/Document.astro';
import FlagMexico from '../icons/FlagMX.astro';
import GitlabIcon from '../icons/Gitlab.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import MailIcon from '../icons/Mail.astro';
import SocialPill from '../SocialPill.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Section
    id="about-me"
    class="flex min-h-[50vh] flex-col-reverse items-center justify-center md:min-h-[70vh] md:flex-row"
>
    <div>
        <h1
            class="gap-y-2 pb-6 text-3xl font-bold md:text-4xl lg:pb-10 lg:text-5xl"
        >
            <p class="text-2xl md:text-3xl lg:text-4xl">
                {i18n.GREETING}
            </p>
            <span class="text-xl md:text-2xl lg:text-3xl"
                >{i18n.GREETING_IM}</span
            >
            <Name />
            <span class="text-md align-top md:text-lg lg:text-xl"
                >(BlackBlex)</span
            >
        </h1>
        <h2 class="max-w-[90%] text-xl lg:max-w-[75%] lg:text-2xl">
            <span class="text-2xl lg:text-3xl"
                >{i18n.MYSELF_TITLE}
            </span>&nbsp;-&nbsp;
            <span set:html={i18n.MYSELF_INFO} />
            <span class="flex items-center"
                >{i18n.MYSELF_FROM}&nbsp;<FlagMexico
                    class="inline-block w-6 md:w-8"
                />
            </span><span
                class="text-2xl text-sky-900 lg:text-3xl dark:text-sky-200"
                >{i18n.MYSELF_INFO_2}</span
            >
        </h2>
        <nav class="mt-3 flex flex-wrap gap-4">
            <SocialPill href="https://gitlab.com/blackblex">
                <GitlabIcon class="size-5 md:size-6" />
            </SocialPill>
            <SocialPill href="https://linkedin.com/in/blackblex">
                <LinkedInIcon class="size-5 md:size-6" />
            </SocialPill>
            <SocialPill
                href="mailto:blackblex@gmail.com"
                copyAble="true"
                text="blackblex@gmail.com"
            >
                <MailIcon class="size-5 md:size-6" />
            </SocialPill>
            <SocialPill
                class="w-full md:w-fit"
                href={`/documents/CV_Jovani_Perez_Damian_${currentLocale}.pdf`}
            >
                <span class="flex gap-x-2 px-2">
                    <DocumentIcon class="size-5 md:size-6" />
                    {i18n.DOWNLOAD} CV
                </span>
            </SocialPill>
        </nav>
    </div>
    <div
        class="mb-6 flex flex-col items-center gap-y-2 lg:mb-0"
        style="shape-outside:circle(55%);"
    >
        <Photo class="mr-4 mt-6 size-40 sm:size-52" />
        <a
            href="https://linkedin.com/in/blackblex"
            target="_blank"
            rel="noopener"
            class="flex animate-wiggle items-end justify-center animate-infinite animate-ease-in-out"
        >
            <Badge>{i18n.I_WANT}</Badge>
        </a>
    </div>
</Section>
