---
import { getI18N } from '@/langs';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer class="w-full shadow-inner">
    <hr class="border-b-[3px] border-gray-700" />
    <div
        class="mx-auto flex flex-col items-center justify-between px-12 py-4 md:flex-row"
    >
        <div class="flex flex-col items-start">
            <span
                class="text-md font-[500] text-slate-600 sm:text-center dark:text-slate-200"
                >© 2024 - {i18n.IDEA_TAKEN}
                <a href="https://porfolio.dev" class="font-bold hover:underline"
                    >midudev {i18n.PORTFOLIO}</a
                >
            </span>
            <span
                class="text-md font-[500] text-slate-600 sm:text-center dark:text-slate-200"
                >Made with
                <a href="https://astro.build" class="font-bold hover:underline"
                    >Astro</a
                >
            </span>
        </div>
    </div>
</footer>
