<svg
    {...Astro.props}
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 32 32"
    ><defs
        ><linearGradient
            id="c"
            x1="-7274.8"
            x2="-7243.872"
            y1="2082.507"
            y2="2046.343"
            gradientTransform="matrix(-.023 -.116 -.116 .023 79.68 -889.484)"
            gradientUnits="userSpaceOnUse"
            ><stop offset="0" stop-color="#f69923"></stop><stop
                offset=".312"
                stop-color="#f79a23"></stop><stop
                offset=".838"
                stop-color="#e97826"></stop></linearGradient
        ><linearGradient
            id="a"
            x1="-7503.689"
            x2="-7283.036"
            y1="2086.595"
            y2="2086.595"
            gradientTransform="matrix(-.023 -.116 -.116 .023 79.68 -889.484)"
            gradientUnits="userSpaceOnUse"
            ><stop offset=".323" stop-color="#9e2064"></stop><stop
                offset=".63"
                stop-color="#c92037"></stop><stop
                offset=".751"
                stop-color="#cd2335"></stop><stop
                offset="1"
                stop-color="#e97826"></stop></linearGradient
        ><linearGradient
            id="b"
            x1="-7477.053"
            x2="-7345.566"
            y1="2064.42"
            y2="2064.42"
            gradientTransform="matrix(-.023 -.116 -.116 .023 79.68 -889.484)"
            gradientUnits="userSpaceOnUse"
            ><stop offset="0" stop-color="#282662"></stop><stop
                offset=".095"
                stop-color="#662e8d"></stop><stop
                offset=".788"
                stop-color="#9f2064"></stop><stop
                offset=".949"
                stop-color="#cd2032"></stop></linearGradient
        ><linearGradient
            xlink:href="#a"
            id="d"
            x1="-7491.296"
            x2="-7270.643"
            y1="2088.633"
            y2="2088.633"></linearGradient><linearGradient
            xlink:href="#b"
            id="e"
            x1="-7475.203"
            x2="-7359.244"
            y1="2085.61"
            y2="2085.61"></linearGradient><linearGradient
            xlink:href="#a"
            id="f"
            x1="-7491.296"
            x2="-7270.643"
            y1="2065.799"
            y2="2065.799"></linearGradient><linearGradient
            xlink:href="#a"
            id="g"
            x1="-7504.984"
            x2="-7284.331"
            y1="2066.905"
            y2="2066.905"></linearGradient><linearGradient
            xlink:href="#a"
            id="h"
            x1="-7491.296"
            x2="-7270.643"
            y1="2058.959"
            y2="2058.959"></linearGradient><linearGradient
            xlink:href="#a"
            id="i"
            x1="-7491.296"
            x2="-7270.643"
            y1="2059.762"
            y2="2059.762"></linearGradient><linearGradient
            xlink:href="#c"
            id="j"
            x1="-8307.632"
            x2="-8276.704"
            y1="2040.008"
            y2="2003.844"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#a"
            id="k"
            x1="-8536.521"
            x2="-8315.868"
            y1="2044.096"
            y2="2044.096"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#b"
            id="l"
            x1="-8509.885"
            x2="-8378.397"
            y1="2021.921"
            y2="2021.921"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#a"
            id="m"
            x1="-8524.128"
            x2="-8303.475"
            y1="2046.134"
            y2="2046.134"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#b"
            id="n"
            x1="-8508.035"
            x2="-8392.076"
            y1="2043.111"
            y2="2043.111"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#a"
            id="o"
            x1="-8524.128"
            x2="-8303.475"
            y1="2023.3"
            y2="2023.3"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#a"
            id="p"
            x1="-8537.816"
            x2="-8317.163"
            y1="2024.407"
            y2="2024.407"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#a"
            id="q"
            x1="-8524.128"
            x2="-8303.475"
            y1="2016.46"
            y2="2016.46"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient><linearGradient
            xlink:href="#a"
            id="r"
            x1="-8524.128"
            x2="-8303.475"
            y1="2017.263"
            y2="2017.263"
            gradientTransform="matrix(.074 -.112 -.112 -.074 864.083 -775.51)"
        ></linearGradient></defs
    ><path
        d="M5.976 2.533a9.539 9.539 0 0 0-.4 2.655l1.427.691a17.928 17.928 0 0 1 .1-2.541 1.16 1.16 0 0 1 .011-.092c0 .031-.009.061-.011.092A15.939 15.939 0 0 0 7.1 5.845a27.79 27.79 0 0 0 2.114-2 3.041 3.041 0 0 0-1.593-1.701s-1.264-.51-1.645.389Z"
        style="fill:url(#c)"></path><path
        d="M9.688 9.722a.018.018 0 0 0 .012-.013l-.08.071c0 .007-.009.013-.01.019ZM10.562 12.19c-.038.046-.083.091-.128.136a2.32 2.32 0 0 0 .128-.136ZM9.741 19.776c0-.021-.014-.044-.018-.065l-.355-1.3a104.01 104.01 0 0 1-1.006-4.141c-.077-.359-.152-.707-.221-1.047a17.987 17.987 0 0 1-.066-.336c-.042-.222-.086-.436-.126-.647l-.109-.575c-.011-.064-.022-.128-.034-.186l-.006-.035-.069.062-.142-.07c0 .015.005.032.01.047.047.285.1.573.152.863.03.164.063.332.093.5.088.465.181.926.282 1.393s.2.94.308 1.4.214.914.324 1.368.222.9.338 1.346a66.284 66.284 0 0 0 .45 1.674c.1.366.2.721.3 1.073l.229.115.076-.068a.069.069 0 0 0-.009-.029c-.149-.45-.277-.903-.401-1.342Z"
        style="fill:none"></path><path
        d="M10.924 13.495a5.867 5.867 0 0 1-.206.211c.036-.033.073-.072.107-.108a1.212 1.212 0 0 0 .099-.103Z"
        style="fill:#be202e"></path><path
        d="M10.924 13.495a5.867 5.867 0 0 1-.206.211c.036-.033.073-.072.107-.108a1.212 1.212 0 0 0 .099-.103Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path
        d="M10.4 12.356c.012-.009.021-.021.032-.03.045-.045.09-.09.128-.136-.05.055-.107.108-.161.166Z"
        style="fill:#be202e"></path><path
        d="M10.4 12.356c.012-.009.021-.021.032-.03.045-.045.09-.09.128-.136-.05.055-.107.108-.161.166Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path
        d="M7.38 10.092q-.1-.712-.18-1.4c-.055-.477-.1-.945-.131-1.408 0-.028-.005-.056 0-.081A22.637 22.637 0 0 1 7 5.878l-1.425-.687c0 .086-.01.175-.013.269-.014.341-.025.7-.028 1.085 0 .43 0 .878.008 1.347.01.432.028.882.051 1.34.023.392.049.788.081 1.192v.046l1.906.965c-.063-.451-.133-.899-.2-1.343Z"
        style="fill:url(#a)"></path><path
        d="M10.2 21.362c.1.356.212.723.328 1.095v.015c.016.054.029.105.049.157.076.251.149.474.307.984a1.927 1.927 0 0 1 1.094.262 1.563 1.563 0 0 0-1.041-.566 3.349 3.349 0 0 0 1.827-2.977 4.338 4.338 0 0 0-.047-.326 1.347 1.347 0 0 1-.766 1.152 3.766 3.766 0 0 0 .61-2.373c-.015-.193-.04-.4-.075-.619a3.056 3.056 0 0 1-1.772 2.462l-.578.532c.021.067.039.133.064.202Z"
        style="fill:url(#b)"></path><path
        d="m9.453 19.735-.365-1.374a118.558 118.558 0 0 1-.662-2.714c-.106-.457-.21-.934-.308-1.4s-.19-.931-.282-1.393a29.232 29.232 0 0 1-.093-.5c-.053-.286-.1-.574-.152-.863a.158.158 0 0 0-.01-.047l-1.895-.967a.679.679 0 0 1 .007.091c.038.429.075.865.126 1.3s.106.89.172 1.341c.056.38.116.757.179 1.138l.041.228a27.47 27.47 0 0 0 .639 2.707c.082.276.163.542.246.794.072.212.15.425.225.635.181.493.382.971.6 1.438l1.915.97c-.1-.352-.2-.71-.3-1.073l-.083-.311Z"
        style="fill:url(#d)"></path><path
        d="M7.947 20.208a14.86 14.86 0 0 0 .881 1.627c.011.016.022.038.033.054a3.864 3.864 0 0 0-1.46-.113 5.37 5.37 0 0 1 2.353 1.371 2.468 2.468 0 0 1-1.112.558 2.46 2.46 0 0 0 1.22-.108 3 3 0 0 0-.742 1.447 3.084 3.084 0 0 1 1.205-1.276 139.477 139.477 0 0 0 2.034 6.14.577.577 0 0 0 .09-.541 131.28 131.28 0 0 1-2.095-6.468c-.03-.1-.056-.2-.089-.3l-.025-.084q-.16-.55-.326-1.132c-.024-.09-.05-.174-.074-.265l-1.915-.97a.357.357 0 0 0 .022.06Z"
        style="fill:url(#e)"></path><path
        d="m7.806 11.476.034.186c.037.19.07.382.109.575.04.211.084.426.126.647.021.111.042.222.066.336.069.34.144.688.221 1.047.1.441.2.894.311 1.366.1.446.218.911.336 1.384.115.451.231.913.359 1.391.112.423.233.858.355 1.3 0 .021.014.044.018.065.123.439.252.892.386 1.353a.069.069 0 0 0 .009.029l.578-.532c-.015 0-.026.013-.045.021a5.547 5.547 0 0 0 1.408-3.114 7.47 7.47 0 0 0-.018-1.737 11.925 11.925 0 0 0-.278-1.486 19.358 19.358 0 0 0-.425-1.456 2.891 2.891 0 0 1-.441.637l-.1.11c-.033.037-.07.069-.107.108a3.377 3.377 0 0 0 .416-2.507 3.176 3.176 0 0 1-.572.991c-.038.046-.083.091-.128.136-.012.009-.021.021-.036.033a3.52 3.52 0 0 0 .371-.814 1.509 1.509 0 0 0 .043-.17c.02-.087.034-.175.047-.263.005-.058.014-.112.019-.171a2.461 2.461 0 0 0 0-.413c0-.046 0-.087-.011-.13-.011-.064-.019-.124-.031-.182-.046-.267-.1-.5-.149-.7-.026-.1-.05-.192-.076-.275-.012-.033-.018-.065-.03-.1-.031-.091-.056-.175-.084-.245a2.452 2.452 0 0 0-.105-.242.532.532 0 0 1-.042.115 3.749 3.749 0 0 1-.65.934l.533-.487-.536.484a.018.018 0 0 0-.009.013A1.082 1.082 0 0 0 9.6 9.8c0-.007.009-.013.01-.019l-1.82 1.665c.015.013.017.023.016.03Z"
        style="fill:url(#f)"></path><path
        d="M7.1 5.845c.022.4.057.848.1 1.344a.485.485 0 0 0 .009.078c.041.433.094.9.162 1.409.058.439.122.9.2 1.4.065.433.145.886.227 1.367l1.82-1.667a2.987 2.987 0 0 0 .457-1.647c0-.143-.011-.293-.022-.447a14.324 14.324 0 0 0-.158-1.432 12.46 12.46 0 0 0-.271-1.287 6.825 6.825 0 0 0-.209-.653 7.964 7.964 0 0 0-.2-.454A28.8 28.8 0 0 1 7.1 5.845Z"
        style="fill:url(#g)"></path><path
        d="M10.827 13.6c-.033.037-.07.069-.107.108a1.391 1.391 0 0 1 .107-.108Z"
        style="fill:#be202e"></path><path
        d="M10.827 13.6c-.033.037-.07.069-.107.108a1.391 1.391 0 0 1 .107-.108Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path
        d="M10.827 13.6c-.033.037-.07.069-.107.108a1.391 1.391 0 0 1 .107-.108Z"
        style="fill:url(#h)"></path><path
        d="M10.4 12.359c.012-.009.021-.021.036-.033-.012.009-.021.021-.036.033Z"
        style="fill:#be202e"></path><path
        d="M10.4 12.359c.012-.009.021-.021.036-.033-.012.009-.021.021-.036.033Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path
        d="M10.4 12.359c.012-.009.021-.021.036-.033-.012.009-.021.021-.036.033Z"
        style="fill:url(#i)"></path><path
        d="M24.627 2.891A10.789 10.789 0 0 0 22.2 4.713l.6 1.69a20.278 20.278 0 0 1 2.1-1.965l.082-.066c-.026.024-.056.042-.082.066a18.028 18.028 0 0 0-2 2.013 31.432 31.432 0 0 0 3.288.072 3.44 3.44 0 0 0 .071-2.639s-.612-1.414-1.632-.993Z"
        style="fill:url(#j)"></path><path
        d="M21.9 11.627a.02.02 0 0 0 .017 0l-.121-.007c-.006 0-.017 0-.023.008ZM20.645 14.308c-.068.007-.14.007-.212.008.073-.001.145-.001.212-.008ZM13.958 19.763c.014-.02.023-.046.037-.067.255-.456.5-.9.75-1.331a125.537 125.537 0 0 1 1.645-2.781 82.311 82.311 0 0 1 1.703-2.687l.413-.621c.127-.186.248-.368.369-.55.042-.06.084-.121.12-.176l.021-.03h-.1l-.058-.169c-.008.015-.021.03-.029.046-.189.266-.378.538-.563.815-.106.156-.213.318-.325.479-.3.444-.591.889-.879 1.346s-.584.918-.867 1.375-.554.905-.826 1.359-.537.9-.8 1.352a75.948 75.948 0 0 0-.973 1.713c-.21.374-.413.738-.611 1.1l.093.274.116.006a.078.078 0 0 0 .016-.031c.242-.504.499-.971.748-1.422Z"
        style="fill:none"></path><path
        d="M19.9 15.646c-.112.006-.223.006-.334.006h.172a1.371 1.371 0 0 0 .162-.006Z"
        style="fill:#be202e"></path><path
        d="M19.9 15.646c-.112.006-.223.006-.334.006h.172a1.371 1.371 0 0 0 .162-.006Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path
        d="M20.384 14.314h.05c.072 0 .144 0 .212-.008-.084 0-.172 0-.261.006Z"
        style="fill:#be202e"></path><path
        d="M20.384 14.314h.05c.072 0 .144 0 .212-.008-.084 0-.172 0-.261.006Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path
        d="M19.751 10.091q.486-.652.968-1.272a35.82 35.82 0 0 1 2.073-2.423l-.6-1.685c-.071.067-.147.134-.224.205-.283.263-.579.547-.884.851-.344.343-.7.707-1.064 1.091-.335.356-.678.732-1.023 1.119-.293.334-.587.673-.882 1.024l-.034.039.767 2.291c.305-.413.604-.831.903-1.24Z"
        style="fill:url(#k)"></path><path
        d="M13.063 21.4c-.2.37-.4.75-.605 1.142 0 .005-.007.01-.008.015-.03.057-.06.108-.085.165-.138.262-.256.5-.534 1.036a2.18 2.18 0 0 1 .673 1.08 1.768 1.768 0 0 0-.388-1.282c1.558.3 2.973.1 3.836-.945.075-.094.15-.194.221-.3a1.524 1.524 0 0 1-1.532.318 4.26 4.26 0 0 0 2.376-1.429c.141-.168.284-.352.431-.558a3.456 3.456 0 0 1-3.383.574l-.888-.031c-.038.076-.077.143-.114.215Z"
        style="fill:url(#l)"></path><path
        d="M13.758 19.5c.262-.461.529-.926.8-1.4.26-.45.525-.9.8-1.352s.549-.906.826-1.359.573-.919.867-1.375.587-.9.879-1.346c.107-.162.213-.318.325-.479.184-.272.374-.544.563-.815.008-.015.021-.03.029-.046l-.757-2.284a.768.768 0 0 1-.067.079c-.31.376-.626.756-.934 1.149s-.622.8-.927 1.217c-.257.35-.508.7-.76 1.058-.049.07-.1.146-.148.217a29.335 29.335 0 0 0-2.069 3.522c-.111.228-.217.461-.323.69-.246.54-.464 1.085-.661 1.633l.771 2.3c.2-.365.406-.728.611-1.1.055-.099.117-.201.175-.309Z"
        style="fill:url(#m)"></path><path
        d="M12.17 18.686a16.808 16.808 0 0 0-.583 2.01c0 .022-.013.048-.016.07a4.37 4.37 0 0 0-1.086-1.251 6.074 6.074 0 0 1 .805 2.973 2.792 2.792 0 0 1-1.339-.435 2.782 2.782 0 0 0 1.068.883 3.4 3.4 0 0 0-1.747.575 3.488 3.488 0 0 1 1.984-.069C10.2 25.432 9.12 27.645 8.015 30a.652.652 0 0 0 .5-.364c.2-.426 1.51-3.226 3.453-6.872.054-.1.113-.205.168-.314l.046-.087q.308-.57.637-1.17l.151-.272v-.005l-.771-2.3a.4.4 0 0 0-.029.07Z"
        style="fill:url(#n)"></path><path
        d="m18.994 11.544-.12.176c-.121.182-.247.363-.369.55s-.271.409-.413.621c-.071.106-.142.212-.214.323-.215.329-.431.669-.654 1.018a109.502 109.502 0 0 0-1.664 2.727c-.266.454-.539.919-.816 1.4-.246.43-.494.875-.75 1.331-.014.02-.023.046-.037.067-.249.451-.506.918-.765 1.4a.078.078 0 0 0-.016.031l.888.031c-.015-.008-.032-.01-.053-.019a6.274 6.274 0 0 0 3.607-1.389 8.449 8.449 0 0 0 1.368-1.411 13.487 13.487 0 0 0 .956-1.417c.272-.459.546-.962.815-1.51a3.269 3.269 0 0 1-.861.162l-.168.009h-.172a3.82 3.82 0 0 0 2.326-1.688 3.592 3.592 0 0 1-1.248.344c-.068.007-.14.007-.212.008h-.055a3.981 3.981 0 0 0 .945-.36 1.707 1.707 0 0 0 .17-.1c.086-.054.166-.114.247-.174l.151-.122a2.784 2.784 0 0 0 .326-.335c.034-.039.066-.073.094-.114.042-.06.083-.115.119-.171a10.09 10.09 0 0 0 .597-.966c.016-.036.037-.067.054-.1.048-.1.094-.186.127-.264a2.773 2.773 0 0 0 .107-.278.6.6 0 0 1-.125.059 4.24 4.24 0 0 1-1.265.236l.816.031-.816-.031a.02.02 0 0 0-.017 0 1.224 1.224 0 0 0-.128 0c.006 0 .017 0 .023-.008l-2.79-.1c.005.018-.002.028-.008.033Z"
        style="fill:url(#o)"></path><path
        d="M22.9 6.452c-.3.339-.628.728-.986 1.164a.548.548 0 0 0-.055.07c-.311.381-.638.8-.989 1.263-.3.4-.62.824-.954 1.29-.292.4-.587.829-.9 1.281l2.79.1a3.379 3.379 0 0 0 1.677-.962c.111-.117.224-.244.338-.377A16.2 16.2 0 0 0 24.828 9a14.093 14.093 0 0 0 .8-1.251 7.72 7.72 0 0 0 .351-.691c.077-.183.141-.356.2-.525a32.58 32.58 0 0 1-3.279-.081Z"
        style="fill:url(#p)"></path><path
        d="M19.738 15.655h-.172a1.573 1.573 0 0 1 .172 0Z"
        style="fill:#be202e"></path><path
        d="M19.738 15.655h-.172a1.573 1.573 0 0 1 .172 0Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path
        d="M19.738 15.655h-.172a1.573 1.573 0 0 1 .172 0Z"
        style="fill:url(#q)"></path><path
        d="M20.378 14.313h.055-.055Z"
        style="fill:#be202e"></path><path
        d="M20.378 14.313h.055-.055Z"
        style="fill:#be202e;opacity:.3499999940395355;isolation:isolate"
    ></path><path d="M20.378 14.313h.055-.055Z" style="fill:url(#r)"
    ></path></svg
>
