---
import '@fontsource-variable/onest';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html
    lang={currentLocale}
    class="h-full bg-slate-100 font-light dark:bg-slate-900"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Jovani Pérez Damián" />
        <meta name="description" content={description} />
        <meta
            name="keywords"
            content="Portfolio, Jovani Pérez Damián, Development, Junior, Developer, Web, Software, Java, csharp, angular, flask, python"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="language" content="Spanish,English" />
        <meta name="title" content={title} />
        <meta name="robots" content="index, follow" />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="/images/avatar.webp" />
        <meta property="og:locale" content="es_MX" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:site_name" content={title} />
        <meta property="og:title" content="Jovani Pérez Damían (BlackBlex)" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://blackblex.gitlab.io" />
        <title>{title}</title>
    </head>
    <body
        class="flex min-h-full flex-col overscroll-none bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-slate-300 via-gray-300 to-zinc-400 dark:from-slate-800 dark:via-gray-800 dark:to-zinc-900"
    >
        <div
            class="min-h-screen bg-center"
            style="background-image: url(/images/background.svg);"
        >
            <Header />
            <slot />
            <Footer />
        </div>
    </body>
</html>
<style is:global>
    :root {
        color-scheme: light dark;

        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }

    [x-cloak] {
        display: none !important;
    }

    html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        scroll-behavior: smooth;
    }

    #hello strong {
        font-weight: 700;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
